@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/breakpoints" as *;

.searchbar {
	margin: $component-padding 0;

	// Flexbox order in regards to parent
	order: 1;
	align-self: flex-start;
	flex-basis: 70%;
	flex-grow: 2;

	// Apply flexbox on its children
	display: flex;
	align-items: center;
	width: 250px;
	border: solid 1px $Mercury;
	border-radius: 4px;
	background-color: $Alabaster;

	// Search icon
	&__button {
		border: none;
		margin: 0 8px;
		width: 18px;
		height: 18px;
		flex-shrink: 0;
		flex-grow: 0;
		background-image: url("../../assets/Icons/search.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-color: $Alabaster;
	}

	&__input {
		width: 100%;
		padding: 8px 0;
		border: none;
		background-color: $Alabaster;
		color: $BrainFlix-Black;

		&::placeholder {
			color: $BrainFlix-Black;
		}
	}

	@include tablet {
		margin: 0 $larger-component-padding 0 0;
		height: 40px;
	}
}
